@import "../../modules/helpers/mixins/mixins";
@import "../../modules/helpers/variables/variables";

.inviter {
	border-radius: 20px;
	padding: 20px;
	max-width: 600px;
	margin: 0 auto;
	border: 1px solid var(--accent);
	&__search {
		position: relative;
		color: var(--primary-light);
		margin-bottom: 2rem;

		input {
			width: 100%;
			padding: 10px 5px 10px 40px;
			border: 1px solid var(--primary-light);
			border-radius: 1em;
			font-size: 18px;
			transition: all 0.3s;
			&:focus {
				outline-color: var(--accent);
				~ label {
					color: var(--accent);
				}
			}
		}
		label {
			position: absolute;
			top: 12px;
			left: 15px;
			font-size: 18px;
			color: inherit;
		}
	}
	&__list {
		display: grid;
		gap: 1rem;
		margin-bottom: 40px;
		@include md {
			padding: 0 30px;
		}
	}

	// .users__item

	&__item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 50px;
	}

	&__invite_btn {
		@include md {
			font-size: 2rem;
		}
		width: 100%;
		background-color: var(--accent);
		border-radius: 20px;
		padding: 15px;
		color: var(--secondary);
		transition: all 0.3s;
		&:disabled {
			filter: grayscale(1);
		}
	}
}
